/*auto*/

$font    : 'Source Sans Pro';

html,body { margin: 0; padding: 0; }
body { background-color: white; }

.CMS_hidden { display: none; }
.wp { padding-left: 0; padding-right: 0; }
.menulayoutborder .wp { padding-left: 30px; padding-right: 30px; }
.wb .wp { padding-left: 20px; padding-right: 20px; }
.wpi {}
.wm { margin-bottom: 20px; }
.wmi { margin-bottom: 20px; }
.wnowrap { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.right { text-align: right; }
.center { text-align: center; }

h1 { font-family: $font; margin: 0 0 20px 0; padding: 0; font-weight: 700; font-size: 30px; }
h2 { font-family: $font; margin: 0 0 15px 0; padding: 0; font-weight: 700; font-size: 23px; }
h3 { font-family: $font; margin: 0 0 10px 0; padding: 0; font-weight: 700; font-size: 18px; }

header { border-bottom: 1px solid #E0E0E0; height: 80px; }
header nav { margin: 5px 0 0 30px; padding: 18px 0 18px 30px; float: right; }
header nav a { font-size: 14px; color: black; text-transform: uppercase; font-weight: bold; margin-left: 10px; padding: 5px 7px; display: inline-block; position: relative; font-family: $font; border-radius: 3px; }
header nav a:first-child { margin-left: 0; }
header nav a:hover { text-decoration: none; color: #505050; }
header nav .selected { color: white !important; background-color: #78AE4E; }
header nav .fa { margin-right: 8px; }

header .linkbutton { border-radius: 100px; color: #D0D0D0; font-size: 20px; padding: 25px 0; width: 100%; display: block; border: 2px solid gray; text-align: center; box-shadow: 0 2px 5px rgba(0,0,0,0.05); transition: all 0.3s; font-weight: bold; }
header .linkbutton .fa { margin-right: 10px; }
header .linkbutton:hover { text-decoration: none; background-color: #303030; color: white; border-color: white; }
header .logo { float: left; margin: 12px 0 10px 20px; width: 150px; }

footer { text-align: center; padding: 20px 0; margin: 50px auto 0; border-top: 1px solid #E0E0E0; font-size: 11px; color: gray; max-width: 500px; }
footer nav { margin-bottom: 3px; }
footer nav a { margin: 0 5px; font-size: 12px; font-weight: bold; color: black; }
footer > a { color: black; }

.mainmenuvisible header nav { display: block !important; }
.mainmenubutton { position: absolute; right: 0; margin: 15px 20px 0 0; display: none; }
.mainmenubutton button { border: 2px solid #404040; border-radius: 4px; outline: 0; cursor: pointer; width: 40px; height: 40px; background-color: transparent; color: #505050; font-size: 22px; text-align: center; padding: 0; }
.mainmenubutton button .fa { transition: all 0.2s; }
.mainmenubutton button:hover { color: black; }
.mainmenubutton-visible .fa { transform: rotate(-90deg); }
.mainmenubutton-visible { color: #A0A0A0 !important; border-color: #A0A0A0 !important; }

.breadcrumb { margin: 0 0 20px; padding: 8px 0; list-style-type: none; font: normal normal 11px Arial; }
.breadcrumb .fa { margin-right: 5px; }
.breadcrumb li { position: relative; display: inline-block; }
.breadcrumb li:after { content: '\f0da'; font-family: 'Font Awesome 5 Free'; margin: 0 8px; color: black; width: 12px; font-weight: 900; }
.breadcrumb li:last-child:after { content: ''; margin: 0; }
.breadcrumb li:last-child { font-weight: bold; }
.breadcrumb a { text-decoration: none; color: black; }
.breadcrumb a:hover { text-decoration: underline; }

.post { background-color: white; border-radius: 3px; box-shadow: 0 5px 10px rgba(0,0,0,0.05); margin-bottom: 20px; border: 1px solid #E8E8E8; }
.postbody { padding: 20px; }
.post .image img { border-radius: 4px 4px 0 0; }
.post .title { font-size: 16px; display: block; font-weight: bold; text-overflow: ellipsis; white-space: nowrap; overflow-y: hidden; }
.post p { font-size: 12px; line-height: 14px; height: 42px; overflow: hidden; }
.post .read { font-size: 12px; width: 100px; text-align: center; position: relative; display: inline-block; background-color: #4285F4; color: white; border-radius: 3px; padding: 3px 0; vertical-align: middle; }
.post .read:hover { text-decoration: none; opacity: 0.9; }
.post .date { display: inline-block; position: relative; margin-left: 20px; vertical-align: middle; font-size: 11px; color: #A0A0A0; }
.post .fa { margin-right: 5px; }

.postdetail { max-width: 900px; margin: 0 auto; border-left: 1px dashed silver; border-right: 1px dashed silver; padding: 0 50px; }
.postdetail .image img { border-radius: 4px; }
.postdetail .image { margin-bottom: 20px; }

.notice { background-color: white; border-radius: 3px; line-height: 18px; font-size: 14px; box-shadow: 0 10px 20px rgba(0,0,0,0.05); margin-bottom: 20px; }
.noticepinned { border: 5px solid #FFFDBA; }
.noticeheadline { padding: 20px 20px 0; border-bottom: 1px solid #E0E0E0; }
.noticeheadline h2 { font-size: 20px; margin: 0; }
.noticeheadline > div { font-size: 12px; margin: 5px 0 15px; }
.noticeheadline .fa { margin-right: 5px; }
.noticebody { padding: 10px 20px 20px; }
.noticebody p { margin: 10px 0 0; }
.noticebody ul { margin: 10px 0 0; }
.noticebody img { display: block; margin: 10px 0 0; border-radius: 4px; }

.empty { padding: 30px 0; border-top: 1px solid #D0D0D0; border-bottom: 1px solid #D0D0D0; text-align: center; font-size: 16px; max-width: 600px; margin: 0 auto; }
.empty .fa { margin-right: 8px; }

.sidemenu a { display: block; color: gray; font-family: $font; margin-bottom: 2px; font-size: 16px; }
.sidemenu .fa { margin-right: 5px; }
.sidemenu .selected { color: black; font-weight: bold; }
.sidemenu label { font-size: 18px; font-family: $font; text-transform: uppercase; margin-bottom: 10px; display: block; font-weight: bold; color: #A0A0A0; }
.sidemenu { margin-bottom: 20px; background-color: #F0F0F0; padding: 10px 15px; border-radius: 3px; }

.menulayoutborder { border-left: 1px solid #E8E8E8; padding-left: 0; min-height: 500px; }

.property .postbody { padding: 10px; }

.property{
    position: relative;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);    
		outline: 0;
        height: 100%;
}
.property:hover .image:before{
    display: block;
    position: absolute;
    content:'';
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background-color: rgba(65, 31, 31, 0.6);
    height: 100%;
    width: 100%; 
    border-radius: 4px;
}
.property:hover .image::after{
    display: block;
    content: '\f002';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; 
    color:white;
    opacity: 0.5;
    font-size: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.property .image{
    position:relative;
    display: block;
}
.property .image img{
    width:100%;
    border-radius: 4px 4px 0 0;
}
.property .image:hover{
    text-decoration: none;
}
.property .flags{
    position: absolute;
    top:10px;
    left:10px;
}
.property .flags span{
    color:white;
    border-radius: 4px;
    text-align: center;
    font-size: 10px;
    line-height: 1em;
    font-weight: 800;
    padding:5px 12px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    background-color:#78AE4E;
}
.property .price{
    position: absolute;
    bottom:12px;
    left:10px;
    color:white;
    font-size:16px;
    font-weight: 800;
    max-width:150px;
    display: inline-block;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.property .status{
    color:#78AE4E;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    font-size: 10px;
    line-height: 1em;
    font-weight: 800;
    padding:5px 12px;
    text-transform: uppercase;
    display: block;
    position: absolute;
    bottom:14px;
    right: 10px;
}

.property .descriptors{
    padding:16px 20px;
    border-bottom:1px solid white;
    overflow: hidden;    text-overflow: ellipsis;
    white-space: nowrap;
    height: 68px; 
}
.property .descriptor {display: inline-block;margin-right: 10px; margin-bottom:5px;}
.property .descriptor:last-child {margin-right: 0;}
.property .descriptor span{display: inline-block;}


.property .name{
    display: block;
    padding-right:22px; 
    font-size: 16px;
    font-weight: 800;
    color:black;
    overflow: hidden;    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom:5px;
    text-decoration: none;
}
.property .location,
.property .type{
    font-size: 14px;
    color:rgba(0, 0, 0, 0.5);
}
.property .type{
    font-weight: 800;
}
.property .location i{
    font-size: 14px;
    margin-right: 4px;
}
.property .wishlist{
    float: right;
} 
.property .details{
    font-size: 10px;
}
.property .details a{
    color: rgba(65, 31, 31, 0.5);
}
.property .details a i{
    margin-right: 2px;
}

.wishlist{
    background-color: transparent;
    font-size: 16px;
    color:#78AE4E;
    border: none;
}
.wishlist.selected .fas,
.wishlist:hover .fas{
    display: inline-block;
}
.wishlist.selected .far,
.wishlist:hover .far,
.wishlist .fas{
    display: none;
}

.wishlist-save {
    font-size: 12px;
}
.wishlist-save span {
    color: rgba(65, 31, 31, 0.5);
    display: inline-block;
}
.wishlist-save:hover {
    text-decoration: none;
}
.wishlist-save i{
    margin-top:18px;
    margin-bottom: 18px;
    background-color: blue;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border:none;
    color:white;
    font-size: 18px;
    line-height: 18px;
    padding:11px;
    min-width: 40px;
    text-align: center;
    margin-left:10px;
    display: inline-block;
}
.wishlist-save:hover i{
    background-color: blue;
    text-decoration: none;
}
.wishlist-save:focus i,
.wishlist-save:active i{
    color:rgba(255, 255, 255, 0.5);
    background-color:blue;
}
.wishlist-save .fa-times{
    display:none;
}
.wishlist-clear{
    color: blue;
}
.wishlist-clear:hover{
    color:blue;
    text-decoration: none;
}
.wishlist-clear i{
    margin-right: 4px;
}
.wishlist-remove {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 18px;
    line-height: 18px;
    padding: 11px;
    min-width: 40px;
    text-align: center;
    border: none;
    outline: none;
    position: absolute;
    top: -15px;
    z-index: 1;
    right: -15px;
    color:blue;
}
.wishlist-remove:hover {
    color:blue;
    text-decoration: none;
}
.wishlistform{
    background-color:white;
    text-align:center;
}
.wishlistform .header > i{
    position: absolute;
    top:10px;
    font-size:18px;
    left: 20px;
}
.wishlistform .body .ui-textbox-label{
    display: none;
}
.wishlistform .email .ui-textbox{
    padding:10px;
}
.wishlistform .email .ui-textbox-input{
    padding-top: 4px;
}
.wishlistform .body .ui-textbox-helper,
.wishlistform .email .ui-textbox-input input{
    text-align: center;
}
 
.wishlistform .share{
    user-select: all;
    border-radius: 4px;
    background-color: white;
    padding:10px;
    margin-bottom:15px;
    overflow: hidden;
}

.wishlistform .success .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 3px solid blue;
}
.wishlistform .success .icon i{
    font-size:25px;
    padding-top:15px;
    color: blue;
}
.wishlistform .success p{
    font-weight: 800;
    font-size: 22px;
}
.listingheader {display: flex; flex-wrap: wrap; justify-content: flex-start;	align-items: baseline;}
.listingheader h1 {flex: 1 1 auto;}
@media(max-width: 768px) {

	.postdetail { border: 0; padding: 0; }

	header { border-radius: 0; box-shadow: none; margin: 0; padding: 15px 0 0 0; min-height: 100px; }
	header .logo { float: none; display: block; width: 150px; }
	header nav { display: none; float: none; border: 0; margin: 0 0 20px; padding: 0; background-color: white; box-shadow: 0 8px 20px rgba(0,0,0,0.2); border-top: 1px solid #E0E0E0; position: absolute; width: 100%; z-index: 5; }
	header nav a { display: block; margin: 0; padding: 8px 25px; border-top: 1px solid #E0E0E0; color: black; border-radius: 0; }
	header nav a:first-child { border-top: 0; }

	footer { height: auto; padding-bottom: 30px; }
	footer nav { float: none; text-align: center; }
	footer .about { float: none; text-align: center;}

	.menulayoutborder { padding-left: 15px; }
	.wp { padding-left: 15px; padding-right: 15px; }
	.sidemenu { background-color: #F0F0F0; border-radius: 3px; padding: 15px; margin-bottom: 0; }
	.nowrap { overflow-x: auto; text-overflow: clip; overflow-scrolling: touch; }
	.mainmenubutton { display: block; }
}

